<div nz-row>
  <div 
    nz-col
    [nzXs]="{ span: 22, offset: 1 }"
    [nzMd]="{ span: 20, offset: 2 }"
    [nzLg]="{ span: 16, offset: 4 }"
  >
    <app-marquee></app-marquee>
    <h1 class="title">Crypto tracker</h1>
    <!-- table filters -->
    <input 
      nz-input 
      nzSize="large"
      placeholder="Crypto search" 
      (keyup)="applyFilter($event)" 
      style="width: 250px; margin-right: 10px;" 
    />
    <app-currency-select></app-currency-select>
    <!-- table filters end -->
    <!-- crypto's list table -->
    <nz-table 
      #basicTable 
      nzSize="middle"       
      [nzSimple]="true"
      [nzData]="coinsData"
    >
      <thead>
        <tr>
          <th>Coin</th>
          <th>Price</th>
          <th>24h change</th>
          <th>Marketcap</th>
          <th>Last update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data" (click)="gotoDetails(data.id)">
          <td>
            <img class="coin-image" [src]="data.image">
            {{ data.symbol | uppercase }}
          </td>
          <td>{{ data.current_price | currency:currency:true }}</td>
          <td 
            class="is-value"
            [ngClass]="{ 'is-low': data.price_change_percentage_24h < 0, 'is-high': data.price_change_percentage_24h > 0 }"
          >
            {{ data.price_change_percentage_24h | number : '1.2-2' }}%
          </td>
          <td>{{ data.market_cap | currency:currency:true }}</td>
          <td>{{ data.last_updated | date:'short'}}</td>
        </tr>
      </tbody>
    </nz-table>
    <!-- crypto's list table end -->
  </div>
</div>