<div nz-row>
    <div 
        nz-col
        [nzXs]="{ span: 22, offset: 1 }"
        [nzMd]="{ span: 20, offset: 2 }"
        [nzLg]="{ span: 16, offset: 4 }"
    >
        <div class="general-card">
            <nz-breadcrumb>
                <nz-breadcrumb-item [routerLink]="['/']" style="cursor: pointer;">
                    <i nz-icon nzType="home"></i>
                    Home
                </nz-breadcrumb-item>
                <nz-breadcrumb-item>{{ coinData?.name }} Chart</nz-breadcrumb-item>
            </nz-breadcrumb>
            <img class="coin-avatar" [src]="coinData?.image?.large">
            <h1 class="title coin-name">
                {{ coinData?.name }}
                <span class="symbol">{{ coinData?.symbol }}</span>
                <span class="price">
                    {{ coinData?.market_data.current_price.inr | currency: currency }}
                    <span 
                        class="is-value"
                        [ngClass]="{ 'is-low': coinData?.market_data.price_change_percentage_24h < 0, 'is-high': coinData?.market_data.price_change_percentage_24h > 0 }"
                    >       
                        ({{ coinData?.market_data.price_change_percentage_24h | number : '1.2-2' }}%)
                    </span>
                </span>
            </h1>
            <p class="description" [innerHtml]="coinData?.description?.en.split('. ')[0]"></p>
            <div class="chart-filters">
                <button 
                    nz-button 
                    [nzShape]="'round'"
                    nzGhost
                    [nzSize]="'small'"
                    [ngClass]="{ 'inactive': days != 1 }"
                    (click)="getGraphData(1)"
                >
                    24 hours
                </button>
                <button 
                    nz-button
                    [nzShape]="'round'"
                    nzGhost         
                    [nzSize]="'small'"    
                    [ngClass]="{ 'inactive': days != 30 }"       
                    (click)="getGraphData(30)"
                >
                    30 days
                </button>
                <button 
                    nz-button 
                    [nzShape]="'round'"
                    nzGhost           
                    [nzSize]="'small'"        
                    [ngClass]="{ 'inactive': days != 90 }" 
                    (click)="getGraphData(90)"
                >
                    90 days
                </button>
                <button 
                    nz-button 
                    [nzShape]="'round'"
                    nzGhost       
                    [nzSize]="'small'"      
                    [ngClass]="{ 'inactive': days != 365 }"       
                    (click)="getGraphData(365)"
                >
                    1 year
                </button>
                <span class="market-cap">
                    Market cap {{ coinData?.market_data.market_cap.inr | currency: currency }}
                    <span 
                        class="is-value"
                        [ngClass]="{ 'is-low': coinData?.market_data.market_cap_change_percentage_24h < 0, 'is-high': coinData?.market_data.market_cap_change_percentage_24h> 0 }"
                    >       
                        ({{ coinData?.market_data.market_cap_change_percentage_24h  | number : '1.2-2' }}%)
                    </span>
                </span>
            </div>
            <canvas 
                style="width: 300px;" 
                baseChart 
                [data]="lineChartData" 
                [options]="lineChartOptions" 
                [type]="lineChartType"
            >
            </canvas>
        </div>
    </div>
</div>